@font-face {
	src:url('font/DIN NEXT ARABIC BLACK.otf');
	font-family: DIN_Black;
}
@font-face {
	src:url('font/DIN NEXT ARABIC BOLD.otf');
	font-family: DIN_Bold;
}
@font-face {
	src:url('font/DIN NEXT ARABIC HEAVY.otf');
	font-family: DIN_Heavy;
}
@font-face {
	src:url('font/DIN NEXT ARABIC MEDIUM.otf');
	font-family: DIN_Medium;
}
@font-face {
	src:url('font/DIN NEXT ARABIC REGULAR.otf');
	font-family: DIN_Regular;
}
@font-face {
	src: url('font/DIN NEXT ARABIC LIGHT.otf');
	font-family: DIN_Light;
}
@font-face {
	src:url('font/DIN NEXT ARABIC ULTRALIGHT.otf');
	font-family: DIN_UltraRegular;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DIN_Light;
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}
/*General styling of links*/
a {
    text-decoration: none;
    cursor: pointer;
}
a:focus 
{
    color: #7f8c8d;
}
.head-con{
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 2;
}
#searchResult{
    margin-top: 120px;
}
/*Geneal styling oh main titles*/
h1, h2, h3, h4, h5, h6, p, a, label
{
    width: 100%;
    margin-bottom: 3px;
    font-size: 13px;
    font-weight: bold;
    color: #2c3e50;
}

/*Special styling for the paragraphs*/
p
{
    color: #7f8c8d;
}

/*Geneal styling of all inputs, comboboxes, and buttons*/
input, select, button, textarea
{
    width: 48%;
    height: 25px;
    margin: 2.5% 2% 0 0;
    padding: auto 5px;
    outline: none;
    border: 1px solid #7f8c8d;
    border-radius: 15px;
    color: #4b235f;
    font-size: 13px;
    text-align: center;
    background-color: #fff;
}
input::placeholder,
textarea::placeholder
{
    color: #7f8c8d;
    opacity: 0.7;

}
select
{
    text-align-last: center;
}
textarea
{
    height: 100px;
    width: 100%;
    resize: none;
}
/*Special styling form all buttons*/
button
{
    display: block;
    margin: 0 auto;
    color: #fff;
    border: none;
    background-color: #4b235f;
    cursor: pointer;
}
/*General styling of lists*/
ul
{
    width: 100%;
    list-style: circle;
    color: #4b235f;
    display: flex;
}
ul li
{
    width: 100%;
    margin: 0% 10% 0% 0%
    display: list-item;
}
/*General Styling of images*/
img
{
    border-radius: 50%;
    width: 40%;
}

title {
    display: none;
}

/*General styling to error texts*/
.Error-Text
{
    font-weight: 200;
    font-size: 10px;
}

/*General styling to container of the sections*/
.sectionContainer
{
    width: 100%;
    height: auto;
}
/*General styling of content border*/
.containerBox
{
    width: 90%;
    margin: 2.5% 5%;
    padding: 2.5%;
    border: 1px solid #7f8c8d;
    border-radius: 15px;
}
/*General styling of profiles*/
.profileHead
{
    width: 100%;
}
.profileHead img
{
    margin: 5px auto;
    width: 40vw;
    height: 40vw
}
.chanceco > section{
    border: 0px  !important;
}

.profileHead h1,
.profileHead h2,
.profileHead a
{
    width: 100%;
    display: block;
    font-size: 15px;
    text-align: center;
}
.profileHead .Error-Text
{
    display: block;
    text-align: center;
}
.editPageBtn
{
    width: 25%;
    margin: 5px 37.5%;
}
.rightProfileSection,
.leftProfileSection
{
    width: 100%;
    margin: 2.5% 0;
    display: block;
}
.sectionMainTitle
{
    width: 100%;
    height: 6vh;
    margin: 10px 0 20px;
}
.sectionMainTitle label
{
    width: 40%;
    display: block;
    text-align: center;
    background-color: #fff;
    font-size: 20px;
    font-weight: 900;
}
.sectionMainTitle span,
.infoSubTitle span
{
    width: 30%;
    height: 1px;
    background-color: silver;
    margin: 20px 0;
}
.infoSubTitle label
{
    width: 68%;
    margin-top: 5px;
    margin-right: 2%;
    font-size: 17px;
}
.rightProfileSection h4
{
    width: 70%;
    margin-right: 30%;
    font-size: 15px;
    display: block;
}
.rightProfileSection h3
{
    width: 65%;
    margin-right: 32%;
    color: silver;
    font-size: 15px;
    font-weight: 600;
    display: block;
}
.rightProfileSection button,
.leftProfileSection button
{
    width: 25%;
    margin: 5px 37.5%;
}


/*Volunteer & applicant rate*/
#viewChanceApplicatnScr
{
    width: 100%;    
}
.volRate
{
    margin: 0 auto;
    padding: 0 5px;
    border-radius: 5px;
    background-color: #f0a032;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    display: block;
    text-align: center;
}
.act{
    color: #f0a032 !important;
}
/*Admin box of management*/
.adminMangTools
{
    width: 100%;
    border-top: 1px solid #7f8c8d;
    margin-top: 5px;
}
.adminNeededInfo
{
    width: 100%;
    margin: 0;
}
.adminNeededInfo h5
{
    width: 70%;
}
.adminNeededInfo p
{
    width: 30%;
}
.adminMangTools form
{
    width: 100%;
    margin: 0;
    padding: 1%;px;
}
.adminMangTools form button
{
    width: 48%;
    font-size: 12px;
    margin: 5px 1%;
    padding-bottom: 5px;
}

/*Checkbox styling*/
.bovCheckBox
{
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
    padding-right: 25px;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    font-weight: 800;
    user-select: none;
    color: #2c3e50; 
}
.bovCheckBox input[type="checkbox"]
{
    display: none;
}
.bovCheckBox span
{
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    border: 1px solid #4b235f;
    border-radius: 5px;
}
.bovCheckBox input[type="checkbox"]:checked + span
{
    background-color: #4b235f;
}
.bovCheckBox input[type="checkbox"]:checked + span:after
{
    content: "";
    position: absolute;
    height: 4px;
    width: 11px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/*Radio butoon styling*/
.bovRadioButton
{
    width: 25%;
    font-size: 11px;
    display: inline-block;
    vertical-align: middle;
    color: #65676e;
    position: relative;
    padding-right: 17px;
    padding-left: 5px;
    cursor: pointer;
}
.bovRadioButton input[type="radio"]
{
    display: none;
}
.bovRadioButton span
{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid #4b235f;
    display: block;
    position: absolute;
    right: 0;
    top: 3px;
}
.bovRadioButton span:after
{
    content: "";
    height: 6px;
    width: 6px;
    background: #4b235f;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: 300ms ease-in-out 0s;
}
.bovRadioButton input[type="radio"]:checked ~ span:after
{
    transform: translate(-50%, -50%) scale(1);
}

/*----- Modals styling -----*/
/* The Modal (background) */
.ShowModal 
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 120px;
}

/* Modal Content/Box */
.ModalForm 
{
    background-color: #fff;
    margin: 5% auto; /* 15% from the top and centered */
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
    padding: 2px;
}
.ModalForm button
{
    width: 35%;
    padding-bottom: 5px;
}

/* The Close Button */
.closeModal 
{
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0; 
  color: #fcfcfc;
  font-size: 35px;
  font-weight: bold;    
}

/* Close button on hover */
.closeModal:hover,
.closeModal:focus 
{
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animateShowModal 
{
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom 
{
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom 
{
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
/* End of styling the modal added by Abdullah */

/*-----------Start of special styling-----------*/
/* Main Header */
@media only screen and (min-width: 280px) {
    .col-1-s {
      width: 8.33%;
    }
    .col-2-s {
      width: 16.66%;
    }
    .col-3-s {
      width: 25%;
    }
    .col-4-s {
      width: 33.33%;
    }
    .col-5-s {
      width: 41.66%;
    }
    .col-6-s {
      width: 50%;
    }
    .col-7-s {
      width: 58.33%;
    }
    .col-8-s {
      width: 66.66%;
    }
    .col-9-s {
      width: 75%;
    }
    .col-10-s {
      width: 83.33%;
    }
    .col-11-s {
      width: 91.66%;
    }
    .col-12-s {
      width: 100%;
    }
    .chancef{
    height: 10%  !important;
}
    .phone-hide {
        display: flex !important;
    }
    .disk-hide {
    display: none !important;
    }
    .home_header{
        height: 200px !important;
      }
      .icon{
        display: none;
      } 
      .disicon{
        display: none;
    } 
    #home_header
    {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 120px;
    z-index: 1;
    background-color: #4b235f;
    color: #fff;
    }
    #home_header > div{
        justify-content: center;
        align-content: center;
        height: 60px;
    }
    /* Logo */
    .logo{
        justify-content: flex-start !important;
        width: 70%;
        padding-left: 10%;
    }
    .sgin-to {
        justify-content: flex-end !important;
      }
      sgin-to > div {
        justify-content: center;
        align-items: center;
        height: 100%;
    }   
    /* Sign In Form */
    .sign_in
    {
        width: 100%;
        grid-column: 1/3;
        display: none;
    }

    #sign_in
    {
        width: 80%;
    }

    #sign_in input
    {
        width: 100%;
        height: 20px;
        margin-bottom: 5px;
        padding-bottom: 5px;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 20px;
        color: #fff;
        font-size: 10px;
    }

    #enteredUserCode
    {
        width: 60% !important;
        margin-left: 3%;
        margin-bottom: 0 !important;
    }
    #sign_in button
    {
        width: 35%;
        height: 20px;
        margin-top: 2%;
        padding-bottom: 5px;
        border: 1px solid #fff;
        background-color: #fff;
        border-radius: 20px;
        color: #4b235f;
        font-size: 8px;
        font-weight: bold;
    }
    /*Serch Box*/
    .searchBox
    {
        justify-content: flex-end !important;
        align-items: center;
        padding-left: 10%;
    }
    .searchBox > div{
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }
    .searchBox > div a{
        text-align: center;
        color:#fff;
        margin: 0;
    }
    #searchField{
        align-items: center;
        justify-content: center;
        height: 30px;
        border: 1px solid #fff;
        border-radius: 40px;
    }

    #searchField:hover a
    {
        color: #f0a032; ;

    }
    #searchField input
    {
        background-color: #4b235f;
        margin: 0;
        padding: 0;
        border: 0;
        color:#fff;
    }

    #searchField a 
    {
    }

    #searchField input 
    {
        transition: all 0.5s ease-in-out;
    }

    #searchField input::placeholder,
    #sign_in input::placeholder
    {
        color: #fff;
        opacity: 0.7;
    }


    /* Forget */
    #forget
    {
        width: 100%;
        padding-right: 5%;
        color: #fff;
        font-size: 10px;
        text-align: center;
    }

    /*Login Error in header*/
    #logiErr
    {
        width: 100%;
        height: 5px;
        margin-bottom: 5px;
        color: #fff;
        font-size: 5px;
    }

    /*Menu navigation*/
    #chkMenuSlider
    {
        display: none;
    }
    #showMenuBtn, #hideMenuBtn
    {
        display: block;
        width: 0%;
        line-height: 100px;
        font-size: 30px;
        color: #fff;
    }
    /*#navMenu
    {
        position: fixed;
        height: 100vh;
        background: #4b235f;
        left: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    #navMenu a
    {
        color: #fff;
        display: block;
    }
    #hideMenuBtn
    {
        position: absolute;
        top: 10px;
        left: 40px;
    }
    #chkMenuSlider:checked ~ #navMenu
    {
        left: 0;
    }
    */

    .navMenu{
        width: 100%;
        grid-column: 1/3;
        align-items: center;
    }
    #navMenu {
        display: inline-flex; 
        align-content: center; 
        align-items: center;
        justify-content: space-between; 
        margin: 0px 30px;
    }
    #navMenu li { 
    width: max-content;
    
    }  
    #navMenu li a {
        transition: 0.4s;
        color: #fff;
        margin: 0;
      }
    #navMenu li a:hover{
    color: #f0a032;
    } 
    #navMenu li a:active{
        color: #f0a032;
     } 
    .vavImage{
        width: 24px;
    }
    .vavImage > img{
        width: 24px;
        height: 24px;
        border-radius: 50%;

    }
    .natification_profile{
        display: none !important;
    }

    #notificationContainer 
    {
        background-color: #fff;
        border: 1px solid rgba(100, 100, 100, .4);
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        position: fixed;
        top: 120px;
        width: 100%;
        height: 100%;
        z-index: 2;
        overflow-y: scroll;
        border-radius:0;
        display: none; // Enable this after jquery implementation 
    }
    .chanceco{
        border: 1px solid #000 !important;
        margin: 2% 2% !important ;
    }
    .chancei{
        margin: 0;
        width: 60px !important;
        height: 60px !important;

    }
    #countTow{
        width: 15px;
        height: 15px;
        font-size: 10px;
        border-radius: 50px;
        position: fixed;
        top: 75px;
        left: 32.9%;
        justify-content: center;
        align-items: center;
        background-color: red;
        font-weight: 100px;
        color: #fff !important;
        display: none;
    }


}

/* Logo */



/*Accounts signup forms special styling*/
/*Signup forms flip effect*/
#vol_form, #ag_form
{
    width: 100%;
    height: 460px;
    position: relative;
    /*margin: 20px 10% 5px;*/
}
#vol_sign_up, #agy_sign_up
{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.6s ease;
}
#vol_front, #vol_back,
#ag_front, #ag_back
{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}
#vol_back, #ag_back
{
    transform: rotateY(180deg);
}
#edu_spec
{
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}
/*Special styling*/
.ag_name{
    justify-content: flex-start;
    align-items: flex-start;
}
.chanceAgInfo > a{
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    align-content: flex-start;
}
.signupTitle
{
    font-size: 25px;
    font-weight: 900;
}
#ag_name, [for^="ag_name"]
{
    width: 68% !important;
}
#ag_app, [for^="ag_app"]
{
    width: 28% !important;
}
#vol_cont .inputTitle,
#ag_cont .inputTitle,
#vol_cont .Error-Text,
#ag_cont .Error-Text
{
    width: 48%;
    margin: 0 2% 0 0;
}
[for^="vol_email"], [for^="ag_email"],
[for^="ag_location"], [for^="ag_branches"],
[for^="ag_social"],
#vol_email, #volEmailErr,
#ag_email, #ag_emailErr,
#vol_lang_title, #arbLangErr, #engLangErr, #volAgreeErr,
#ag_nameErr, #ag_location, #ag_branches, #ag_social,
#agy_agree
{
    width: 100% !important;
}
#volSignupLangs
{
    width: 57%;
}
#volSignupLocation
{
    width: 43%;
}
#volSignupLocation label
{
    width: 100% !important;
}
#volSignupLocation select
{
    width: 96%;
    margin: 1% 2%;
}
#volSignupLocation .Error-Text
{
    width: 98%;
}

/*posts styling*/
#post
{
    width: 100%;
}
#post article h1, article h2 
{
    font-size: 15px;
}
#post .adminNeededInfo h5,
#post .adminNeededInfo p
{
    width: 50%;
}

/*bank infrmation styling*/
.bankInfoTitles
{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    justify-content: space-between;
}
.bankInfoTitles h1
{
    width: 17.5%;
    height: calc(100% - 5px);
    display: inline-block;
    margin: 0 1% 5px;
    padding-bottom: 5px;
    position: relative;
    color: #ccc;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    user-select: unset;
}
.bankInfoTitles h1::before
{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    background-color: #4b235f;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}
.bankInfoTitles h1:hover::before, 
.bankInfoTitles h1.activeTitle::before
{
    transform: scaleX(1);
    transform-origin: bottom right;
}
h1.activeTitle
{
    color: #4b235f;
}
.bankInfoTitles hr
{
    height: 60%;
    color: #ccc;
}


.bankInfoDetail
{
    width: 100%;
}
.bankInfoDetail article
{
    display: none;
    border: none;
    justify-content: center;
}
.bankInfoDetail article.activeInfo
{
    display: flex;
}
.bankInfoDetail article h1, 
.bankInfoDetail article h2
{
    font-size: 15px;
    display: block;
    text-align: center;
}
.bankInfoDetail article p
{
    display: block;
    text-align: center;
}

.mangBox
{
    width: 40%;
	margin: 5px 5%;
}

.mangBox img
{
    width: 70px;
    height: 70px;
    margin: 10px 30%;
    background-position: center;
}

/*Contact us setion*/
#conatctUsBox
{
    width: 80%;
    margin: 0 10%;
    text-align: center;
    border-top: 1px solid #5c5c5c;
}
#conatctUsBox h1
{
    width: 70%;
    margin: 5px 15%;
    font-size: 20px;
    font-weight: 900;
    display: block;
}
#conatctUsBox form
{
    width: 100%;
}
#conatctUsBox form input,
#conatctUsBox form textarea
{
    width: 100%;
    margin: 5px 0;
}
#conatctUsBox button
{
    width: 30%;
    height: 30px;
    border: 1px solid #2c3e50;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    font-weight: 900;
    padding-bottom: 5px;
}

/*Footer styling*/
#footer
{
    width: 100%;
    margin: 10px 0;
    bottom: 0;
}
#footer h1, #footer p
{
    display: block;
    text-align: center;
}
#footer h1
{
    font-size: 18px;
    font-weight: bold;
    font-family: cursive;
}
div#social_icons
{
    height: 50px;
    width: 50%;
    margin: 10px 25%;
}
.socialIcon
{
    height: 100%;
    width: 23%;
    margin: 0 1%;
}
.socialIcon svg.blackSocialIcon,
.socialIcon svg.colorSocialIcon
{
    height: 100%;
    width: 100%;
    transition: opacity 0.5s ease-out;
}
.socialIcon svg.colorSocialIcon
{
    display: none;
    opacity: 0;
}
.socialIcon:hover svg.blackSocialIcon
{
    display: none;
    opacity: 0;
}
.socialIcon:hover svg.colorSocialIcon
{
    display: flex;
    opacity: 1;
}

/*View agencies special styling*/
#filterAgyFrm
{
    width: 100%;
}
#filterAgyFrm select
{
    width: 30%;
    margin: 1.5;
}
#filterAgyFrm button
{
    width: 20%;
    margin: 5px auto;
}
#agyViewContainer .adminMangTools form button
{
    width: 31%;
    font-size: 10px;
}

/*View chances special styling*/
#chanceAgProf
{
    border: none;
}
#chanceAgProf .profileHead
{
    height: 25vw;
}
#chanceAgProf .profileHead img
{
    width: 25vw;
    height: 25vw;
    margin: 0 2.5%;
}
#chanceAgProf .profileHead .chanceAgInfo
{
    width: 58%;
    height: 100%;
    margin-right: 2%;
    display: block;
    padding-top: 2.5%;
}
#chanceAgProf .profileHead .chanceAgInfo h1,
#chanceAgProf .profileHead .chanceAgInfo h2
{
   text-align: right;
}

#chanceAgProf
{
    width: 100%;
    margin: 0;
}
#chanceInfoBox h1
{
    display: block;
    text-align: center;
    font-size: 16px;
    color: #4b235f;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}
#chanceInfoBox div
{
    width: 100%;
    margin: 2.5% 0;
}
#chanceInfoBox div h3,
#chanceInfoBox div h4
{
    width: 25%;
    margin-bottom: 5px;
}
#chanceInfoBox div h3
{
    color: #2c3e50;
    font-size: 13px;
    font-weight: 400;
}
#chanceFieldDetail,
#chancePeriodDetail
{
    width: 70% !important;
}
#adminChanceForm, #showApplicantFrm
{
    width: 50%;
}
#adminChanceForm button, #showApplicantFrm button
{
    width: 90%;
}

/*Applicants view special styling*/
#chane_title_div
{
    width: 100%;
    display: block;
}
#chane_title_div h1,
#chane_title_div h2
{
    width: 100%;
    display: block;
    text-align: center;
}
#chane_title_div h1
{
    font-size: 17px;
}
#chane_title_div h2
{
    font-weight: 400;
    color: #5c5c5c;
}
#selectAplTitle
{
    width: 10%;
    margin-right: 75%;
    font-size: 16px;
}
#apolicantsFrm
{
    border: none;
}
.applicants_profile
{
    width: 100%;
    height: 20vw;
    margin-bottom: 10px;
}
.applicants_profile img
{
    width: 20vw !important;
    height: 20vw;
    margin: 0;
}
#applSelRate
{
    width: 100%;
    height: 20%;
}
.applicants_profile .applicants_profile_Info
{
    width: calc(95% - 20vw);
    margin: 0 2.5%;
    height: 100%;
}
.applicants_profile_Info #applicants_name
{
    font-size: 16px;
    margin: 0
}
.applicants_profile_Info #applicants_experience
{
    width: 50%;
}
.applicants_profile_Info .evaluateVolBtn,
.applicants_profile_Info .volAcceptedBtn,
.applicants_profile_Info .acceptVolAppBtn
{
    width: 38%;
    margin: 0 0 0 12%;
    padding-bottom: 5px;
}
.applicants_profile_Info .volRate
{
    width: 15%;
    margin: 0;
}
.applicants_profile_Info .bovCheckBox
{
    width: 15%;
    margin: 1px 0;
}
.applicant_Rate_Line
{
    width: 60%;
    height: 1px;
    margin: 10px 5%;
    background-color: #ccc;
}
#extract_buttons
{
    width: 100%;
    border-top: 2px solid silver;
    margin-top: 15px;
}
#extract_buttons button
{
    border: 1px solid #4b235f;
    background-color: #fff;
    color: #4b235f;
    font-weight: 900;
    padding-bottom: 5px;
    margin-top: 5%;
}

/*Volunteer page section*/
#volsView
{
    width: 100%;
}
#volRatesSection p
{
    border-top: 1px solid #ccc;
}
/*Temprary*/
#volPersInfoSec ul
{
    list-style: none;
}
#volPersInfoSec ul li
{
    list-style: none;
}

/*View agency page*/
button#add_chance
{
    background: transparent;
    height: 70px;
}
button#add_chance svg
{
    width: 100%;
    height: 100%;
}

/*----- Modal Forms styling -----*/
/*Fogert password, 
agency & volunteer signup forms, and
Rate applicant form modals*/
#forgetPassMdl label, #forgetPassMdl p,
#volSignupTermsMdl label, #volSignupTermsMdl p,
#agySignupTermsMdl label, #agySignupTermsMdl p,
#changePassMdl label, #changePassMdl p,
#rateVolMdl label, #rateVolMdl p
{
    display: block;
    text-align: center;
    margin-bottom: 2.5%;
}
#forgetPassMdl input,
#changePassMdl input,
#rateVolMdl input, #rateVolMdl textarea
{
    width: 96%;
    margin: 2.5% 2%;
    padding-bottom: 5px;
}

/*Add/Edit posts modal*/
#postInfoMdl #post_title,
#postInfoMdl #post_content,
#postInfoMdl .Error-Text,
#bnkInfDetailMdl #infTitle, 
#bnkInfDetailMdl #infContent,
#bnkInfDetailMdl .Error-Text
{
    width: 95%;
    margin: 2.5%;
    padding-bottom: 5px;
}
#post_media/*, #infPhoto*/
{
    display: none;
}
#InfPhotoBtn
{
    margin-top: 10%;
}
#postPhotoBtn, #MangPP
{
    margin-bottom: 10px;
}
#infoTitleClassBox
{
    width: 75%;
    height: 25%;
}
#infoTitleClassBox select,
#infoTitleClassBox input,
#infoTitleClassBox .Error-Text
{
    width: 100% !important;
    margin: 1% !important;
}
#infoMemberImgBox
{
    width: 23%;
    height: 25%;
    margin: 0 1%;
}
/*View chance details*/
#begin_div_chance 
{
    width: 100%;
}
.ModalForm #chanceGenInfo h4
{
    width: 33%;
}
.ModalForm #chanceGenInfo h3
{
    width: 17%;
}
.ModalForm #chanceTasksInfo h4,
.ModalForm #chanceTasksInfo h3,
.ModalForm #chanceTermsInfo h4,
.ModalForm #chanceTermsInfo h3,
.ModalForm #chanceNoteInfo h4
{
    width: 100%;
}
#chanceNoteInfo p
{
    text-align: center;
}

/*Add/Edit chance*/
#addEditChanceMdl .containerBox div,
#addEditChanceMdl .containerBox div .chnFullTitle
{
    width: 100%;
    margin: 2.5% 0;
}
#addEditChanceMdl .containerBox #ChnTitle
{
    margin: 0 auto;
}
#addEditChanceMdl .containerBox label,
#chnPeriodInfo h6, #chnFieldSpecInfo h6
{
    width: 40%;
    margin-top: 3%;
}
#addEditChanceMdl .containerBox input,
#addEditChanceMdl .containerBox select
{
    width: 58%;
}
#chnTasksListInfo input,
#chnTermsInfo input
{
    width: 80% !important;
    margin: 2.5%;
}
.pointBtn, .addChnPoint
{
    width: 10% !important;
    margin: 2.5% auto;
    border: 1px solid #4b235f;
    border-radius: 5px;
    color: #4b235f;
    background-color: #fff;
    font-size: 15px;
    font-weight: 900;
    padding-bottom: 40px;
}
.pointBtn:hover, .addChnPoint:hover
{
    color: #fff;
    background-color: #4b235f;
    border: none;
}
#addEditChanceMdl .containerBox #chnTasksList li,
#addEditChanceMdl .containerBox #chnTermsInfo li
{
    display: flex;
}
#ChnNote
{
    width: 95%;
    margin: 2.5%;
}
#ChnFile
{
    display: none;
}
#chnFileInfo label
{
    margin-top: 0 !important;
}

/*Agency / volunteer edit their page*/
#agNewInfoMdl .containerBox div,
#vlNewInfoMdl .containerBox div
{
    width: 100%;
    margin: 2.5% 0;
}
#agNewPhotoTxt,
#vlNewPic
{
    display: none;
}
#agNewInfoMdl .containerBox label.infoBigTitle,
#vlNewInfoMdl .containerBox label.infoBigTitle
{
    width: 100%;
    font-size: 17px;
}
#agNewInfoMdl .containerBox div input,
#vlNewInfoMdl .containerBox div input,
#vlNewInfoMdl .containerBox div select
{
    width: 100%;
    margin: 2.5% 0;
}
#vlNewInfoMdl #vlNewLangInfo input[type="text"],
#vlNewInfoMdl #vlNewSkillInfo input[type="text"],
#vlNewQualSpecInfo select
{
    width: 78% !important;
    margin-left: 2%;
}
/*#agNewApprPhone label.infoBigTitle,
#agNewApprPhone input
{
    width: 50% !important;
}*/

/*Volunteer Add/Edit their experience*/
#volEditAddExpMdl h1
{
    display: block;
    text-align: center;
}
#volEditAddExpMdl input,
#volEditAddExpMdl textarea
{
    width: 98%;
}
#volEditAddExpMdl .Error-Text
{
    margin-right: 5%;
    font-size: 12px;
}
#vlExpCategoryInfo select
{
    width: 100%;
}

/* Majd editing */
	/* Control panel */ 
	
	.separate{
		margin: 50px auto 10px;
		width: 80%;
		height: 4px;
		background-color: #f0a032;
	}
	.panel button {
		margin: 15px auto;
	}
	#agy_div_admin h {
		width: 20%;
		margin: 5px 40%;
		font-weight: 900	;
	}
	#agy_div_admin label {
		width: 30%;
		margin: 0 3% 0 0;  
	}
	#agy_div_admin button {
		margin: 10px auto 50px;
	}
	.HL{
		width: 15%;
		color: #f0a032;
		margin: 0 42.5%;
		font-size: 25px;
		text-align: center;
	}
	.HL2{
		width: 30%;
		color: #f0a032;
		margin: 0 35%;
		font-size: 25px;
		text-align: center;
	}
	#adminAddedByLbl{
		margin: 0 auto 25px;
	}
	.mangBox #mang_name, #title{
		width: 50%;
		
		margin: 5px 25%;
	}


#applSelRate
{
    width: 100%;
    height: 20%;
}


/*.natification_profile_Info #natification_experience
.natification_profile .natification_profile_Info
{
    width: calc(95% - 20vw);
    margin: 0 2.5%;
    height: 100%;
}
.natification_profile_Info #natification_name
{
    font-size: 16px;
    margin: 0px;
    padding: 5px;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
}
{
    margin: 1px;
    padding: 3px;
    width: 50%;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
}*/
/*.natification_profile_Info .evaluateVolBtn,
.natification_profile_Info .volAcceptedBtn,
.natification_profile_Info .acceptVolAppBtn
{
    width: 38%;
    margin: 0 0 0 12%;
    padding-bottom: 5px;
}*/
/*.natification_profile_Info .natification_volRate
{
    width: 15%;
    margin: 0;
}*/
/*.natification_Rate_Line {
    width: 60%;
    height: 1px;
    margin: 10px 5%;
    background-color: #ccc;
}
*/
.navMenu1 {
    margin: 0%;
    padding: 0%;
}

#notificationTitle
{
background-color: #ffffff;
width: 100%;
margin-bottom: 3px;
font-size: 20px; 
font-weight: bold;
color: #2c3e50;
}
#notificationTitle h2 {
    width: 100%; 
    padding: 17px 10px;
    font-size: 20px; 
    font-weight: bold;
    color: #000;
}

#notificationsBody
{
width: 100%;
justify-content: center;

}
#notificationsBody > div{
    margin: 0;
    padding: 15px 10px;
    width: 100%;
}
#notificationsBody > div a{
    color: #000;
    margin: 0;


}
#notificationsImage > img {
    width: 60px;
    border-radius: 50%;
    height: 60px;
  }
.notp{
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    margin: 0;
}
.point{
    color: #4b235f;
    align-items: center;
}
#password_div{
    width: 100%;
}
#password_div > form{
    width: 100%;
}
#count{
    width: 15px;
    height: 15px;
    font-size: 10px;
    border-radius: 50px;
    position: fixed;
    top: 35px;
    left: 15.6%;
    justify-content: center;
    align-items: center;
    background-color: red;
    font-weight: 100px;
    color: #fff !important;
    display: none;
}
  






